.buy-ticket-now {
  position: relative;
  width: 1359px;
  height: 333px;
}

.buy-ticket-now .line {
  top: -4px;
  left: 0;
  position: absolute;
  width: 395px;
  height: 5px;
}

.buy-ticket-now .img {
  top: 45px;
  left: 291px;
  position: absolute;
  width: 395px;
  height: 5px;
}

.buy-ticket-now .line-2 {
  top: 0;
  left: 595px;
  position: absolute;
  width: 395px;
  height: 5px;
}

.buy-ticket-now .line-3 {
  top: 46px;
  left: 950px;
  position: absolute;
  width: 395px;
  height: 5px;
}

.buy-ticket-now .line-4 {
  top: 332px;
  left: 14px;
  position: absolute;
  width: 395px;
  height: 5px;
}

.buy-ticket-now .line-5 {
  top: 301px;
  left: 305px;
  position: absolute;
  width: 395px;
  height: 5px;
}

.buy-ticket-now .line-6 {
  top: 329px;
  left: 609px;
  position: absolute;
  width: 395px;
  height: 5px;
}

.buy-ticket-now .line-7 {
  top: 300px;
  left: 964px;
  position: absolute;
  width: 395px;
  height: 5px;
}
