---
import "../styles/style.css";
import "../styles/listview.css";
import MainLayout from "../layouts/MainLayout.astro";
import Artist from "../components/Artist.astro";
---

<MainLayout>
  <div class="listview-wrap">
    <h1>Lineup</h1>
    <h2>2024</h2>
  </div>
</MainLayout>
