---
import "../styles/style.css";
import "../styles/listview.css";
import MainLayout from "../layouts/MainLayout.astro";
import Artist from "../components/Artist.astro";
---

<MainLayout>
	<div class="listview-wrap">
		<h1>Lineup</h1>
		<h2>2024</h2>
		<div class="artist-layout">
			<Artist src="/kiki.webp" alt="KIKI" artistname="KI/KI"/>
			<Artist src="/anetha.webp" alt="Anetha" artistname="Anetha"/>
			<Artist src="/djlukey.webp" alt="djlukey" artistname="DJLukey"/>
			<Artist src="/fia.webp" alt="FIA" artistname="FIA"/>
			<Artist src="/jobjobse.webp" alt="Jobjobse" artistname="Job Jobse"/>
			<Artist src="/juicyromance.webp" alt="juicyromance" artistname="Juicy Romance"/>
			<Artist src="/nixxon.webp" alt="nixxon" artistname="Nixxon"/>
			<Artist src="/xclub.webp" alt="xclub" artistname="X CLUB."/>
			<Artist src="/kiki.webp" alt="KIKI" artistname="KI/KI"/>
			<Artist src="/anetha.webp" alt="Anetha" artistname="Anetha"/>
			<Artist src="/djlukey.webp" alt="djlukey" artistname="DJLukey"/>
			<Artist src="/fia.webp" alt="FIA" artistname="FIA"/>
			<Artist src="/jobjobse.webp" alt="Jobjobse" artistname="Job Jobse"/>
			<Artist src="/juicyromance.webp" alt="juicyromance" artistname="Juicy Romance"/>
			<Artist src="/nixxon.webp" alt="nixxon" artistname="Nixxon"/>
			<Artist src="/xclub.webp" alt="xclub" artistname="X CLUB."/>
		</div>
	</div>
</MainLayout>
