---
import "../styles/index.css"
const props = Astro.props;
---


<!DOCTYPE html>
<html>
    <body>
        <div class="buy-ticket-now">
            <img class="line" src="img/line-11.png" />
            <img class="img" src="img/line-12.png" />
            <img class="line-2" src="img/line-13.png" />
            <img class="line-3" src="img/line-14.png" />
            <div class="overlap-group">
                <p class="div">
                    <span class="text-wrapper">buy </span>
                    <span class="span">ticket</span>
                    <span class="text-wrapper"> now</span>
                </p>
                <img class="line-4" src="img/line-15.png" />
            </div>
            <img class="line-5" src="img/line-16.svg" />
            <img class="line-6" src="img/line-17.svg" />
            <img class="line-7" src="img/line-18.svg" />
            <img class="line-8" src="img/line-19.png" />
        </div>
    </body>
</html>

    </body>
</html>
